[submodule "frontend"]
	path = frontend
	url = git@github.com:bro-Nik/portfolio-frontend.git
[submodule "backend"]
	path = backend
	url = git@github.com:bro-Nik/portfolio-backend.git
[submodule "auth"]
	path = auth
	url = git@github.com:bro-Nik/portfolio-auth.git
