# Environment variables
.env
.env.local
.env.*.local

# Docker
.dockerignore
docker-compose.override.yml

# Logs
*.log
logs/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Temporary files
tmp/
temp/

# Other
*.ORIG
to_ignore/
databases/dumps/
/redis/
/admin/
/supertokens/
/auth/
