[submodule "frontend"]
	path = frontend
	url = git@github.com:bro-Nik/portfolio-frontend.git
[submodule "backend"]
	path = backend
	url = git@github.com:bro-Nik/portfolio-backend.git
[submodule "market"]
	path = market
	url = https://github.com/bro-Nik/portfolio-market.git
[submodule "admin-frontend"]
	path = admin-frontend
	url = https://github.com/bro-Nik/portfolio-admin-frontend.git
