fastapi
uvicorn[standard]
sqlalchemy
asyncpg
pyjwt
pydantic[email]
pydantic-settings
python-multipart
slowapi
alembic
psycopg2-binary
passlib
bcrypt==4.3.0
python-dotenv
ua-parser
user-agents
pyyaml
redis
taskiq
taskiq-redis
dishka
httpx
croniter
requests
