# При разработке можно ничего не определять

# Db
# POSTGRES_DB=postgres
# POSTGRES_USER=postgres
# POSTGRES_PASSWORD=

# DB_URL=postgresql+asyncpg://postgres:@db/postgres
# DB_ECHO=false
# DB_POOL_SIZE=5
# DB_MAX_OVERFLOW=10

# Redis
# REDIS_URL=redis://:@redis:6379/0
# REDIS_MAX_CONNECTIONS=20
# REDIS_TIMEOUT=5

# Rate Limit
# RATE_LIMIT_DEFAULT=10/minute
# RATE_LIMIT_AUTH=10/minute
# RATE_LIMIT_PUBLIC=10/minute
